<div class="col-md-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Menu List</h3>
    </div>
    <div class="list-group">
      <%= link_to "Upload Pictrues", '#', class:"list-group-item btn btn-default", id: "pictrue-upload-button" %>
      <!-- <%= link_to "Delete Pictrues", '#', class:"list-group-item btn btn-default", id: "pictrue-delete-button" %> -->
    </div>
  </div>
</div>
