  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Upload Images</h4>
      </div>
      <div class="modal-body">

        <%= form_tag "/img_upload", class: "dropzone", id: "dropzone" do -%>
        <!-- <form action="../dummy.html" class="dropzone" id="dropzone"> -->
          <div class="fallback">
            <%= file_field_tag "file", multiple:true, class:"post_pictures_attributes_pic" %>
            <!-- <input name="file" type="file" multiple="" /> -->
          </div>
        <% end -%>
        <!-- <div class="row">
          <div class="col-xs-12">
            <span class="btn btn-success fileinput-button">
              <i class="glyphicon glyphicon-plus"></i>
              <span>Add Images...</span>
              <%= file_field_tag "pic[]", multiple:true, class:"post_pictures_attributes_pic" %>
            </span>
          </div>

          <ul class="list-inline" id="uploadPreview">
          </ul>
        </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="submit" class="btn btn-success">Upload</button> -->
      </div>
    </div>
  </div>
