<div class="col-md-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Menu List</h3>
    </div>
    <div class="list-group">
      <%= link_to "New Post", new_post_path, class:"list-group-item" %>
      <%= link_to "List Post", posts_path, class:"list-group-item" %>
      <!-- <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a> -->
    </div>
  </div>
</div>
