<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Listing posts</h3>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= link_to truncate(post.title, length: 20), post %></td>
            <td><%= truncate(strip_tags(post.body).gsub(/&nbsp;|&#13;/,""), length:55) %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render partial: "menu_list" %>
