<!--footer-->
<div class="site-footer">
  <div class="container">
    <!-- <div class="row">
      <div class="col-md-4">
        <h3>Info 1</h3>
        <p>test test test ...</p>
      </div>
      <div class="col-md-4">
        <h3>Info 2</h3>
        <p>test test test ...</p>
      </div>
      <div class="col-md-4">
        <h3>Talk to us</h3>
        <ul>
          <li>Tweet us at <a href="https://twitter.com/dun3650" target="_blank">@dun3650</a></li>
          <li>Email us at <span class="connect">dn365@outlook.com</span></li>
          <li>
            <a title="Twitter" href="https://twitter.com/dun3650" target="_blank" rel="external nofollow"><i class="icon" data-icon="&#xe121"></i></a>
            <a title="Facebook" href="https://www.facebook.com/dn365" target="_blank" rel="external nofollow"><i class="icon" data-icon="&#xe10b"></i></a>
            <a title="Google+" href="https://plus.google.com/u/0/" target="_blank" rel="external nofollow"><i class="icon" data-icon="&#xe110"></i></a>
            <a href="WeiBo" href="https://weibo.com" target="_blank" rel="external nofollow">
              <%= image_tag "weibo.png", class:"icon-png", style:"margin-top: 8px;" %>
            </a>
            <a href="WeChat" href="https://weixin.com" target="_blank" rel="external nofollow">
              <%= image_tag "wechat.ico", class:"icon-png", style:"margin-top: 8px; margin-left: 10px;" %>
            </a>
          </li>
        </ul>
      </div>
    </div> -->
    <!-- <hr class="dashed" /> -->
    <div class="copyright clearfix">
      <p>&copy; 2014, Inc. All rights reserved. &nbsp;&nbsp;Code licensed under <a href="http://opensource.org/licenses/mit-license.html" target="_blank" rel="external nofollow">MIT License</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/" rel="external nofollow">CC BY 3.0</a>.</p>
    </div>
  </div>
</div>
